{:gridviz/all
 {:txes
  [[
     ;users
     {:db/id #db/id [:db.part/db]
      :db/ident :user/name
      :db/index true
      :db/valueType :db.type/string
      :db/cardinality :db.cardinality/one
      :db.install/_attribute :db.part/db}
     {:db/id #db/id [:db.part/db]
      :db/ident :user/password-hash
      :db/valueType :db.type/string
      :db/cardinality :db.cardinality/one
      :db.install/_attribute :db.part/db}
     {:db/id #db/id [:db.part/db]
      :db/ident :user/drawing
      :db/valueType :db.type/ref
      :db/cardinality :db.cardinality/many
      :db.install/_attribute :db.part/db}
     {:db/id #db/id [:db.part/db]
      :db/ident :user/drawings
      :db/valueType :db.type/ref
      :db/cardinality :db.cardinality/many
      :db.install/_attribute :db.part/db}
     ; drawings
     {:db/id #db/id [:db.part/db]
      :db/ident :drawing/name
      :db/index true
      :db/valueType :db.type/string
      :db/cardinality :db.cardinality/one
      :db.install/_attribute :db.part/db}]]}}